# Frontend Testnet Mode
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_LAST_SIGNAL_TX=

# Contract deployment
PRIVATE_KEY=
ETHEREUM_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
BASE_SEPOLIA_RPC_URL=
SEPOLIA_RPC_URL=
